---
import { Image } from "astro:assets";

import Avatar from "@assets/icons/avatar.svg";
import Bed from "@assets/icons/bed.svg";
import Calender from "@assets/icons/calender.svg";
import type { ImageMetadata } from "astro";

interface Props {
  src: ImageMetadata;
  alt: string;
  title: string;
  currency: string;
  price: number;
  days: number;
  beds: number;
  typeOfBed: string;
}

const { src, alt, title, currency, price, days, beds, typeOfBed } = Astro.props;
---

<section>
  <header class="bg-[#D86750] rounded-2xl">
    <Image src={src} alt={alt} />

    <h3 class="py-2 font-poppins font-semibold text-xl text-white text-center">
      Reservar ahora
    </h3>
  </header>
  <main
    class="flex justify-between py-2 text-base font-poppins text-[#7D7D7D] [&>span]:flex [&>span]:items-center [&>span]:gap-2"
  >
    <span>
      <Calender />
      {days} Días
    </span>
    <span>
      <Avatar />
      {beds} Camas
    </span>
    <span>
      <Bed />
      {typeOfBed}
    </span>
  </main>
  <footer class="flex justify-between">
    <h4 class="text-2xl font-poppins font-bold">{title}</h4>
    <div>
      <strong>{currency}</strong>
      <span> {price}</span>
    </div>
  </footer>
</section>
